/* Write your CSS code here */
.blog-item-image {
  height: 150px;
  width: 300px;
  margin-right: 20px;
}
.avatar-image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.avatar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}
.blog-item-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.topic {
  color: #d3d3d3;
}
.title {
  color: #000000;
  font-size: 25px;
}
.author {
  color: #8e8e8e;
}
